/* || General styles */
:root {
    --header-bg: #000000;
    --header-text: #FFFFFF;

    --main-bg: #E2E8F0;
    --main-text: #636363;

    --footer-bg: #000000;
    --footer-text: #FFFFFF;

    --btn-bg: #1992D4;
    --btn-text: #FFFFFF;

    --proj-card-bg: #FFFFFF;

    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --display-height: 100vh;
    --header-height: calc(var(--display-height)*.075);
    --footer-height: calc(var(--display-height)*.04)
}

body {
    margin: 0;
    padding: 0;
    height: var(--display-height);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: var(--system-ui);
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

/* … */


/* || SITEWIDE */


/* … */



/* || UTILITIES */

/*
utility classes, for example, a class
     that removes the default list style for lists
     we're going to display, example a class that
     removes features when displayed */

/* … */

/* || Typography */


/* … */

/* || Header and Main Navigation */
header {
    background-color: var(--header-bg);
    color: var(--header-text);
    margin-bottom: auto;
    display: flex;
    padding: .5rem 0;
    /* height: var(--header-height); */
}

header h1 {
    margin-right: auto;
}

header button {
    background-color: red;
}

/* … */

/* || PAGE: index.html */

main {
    --main-height: calc(var(--display-height) - var(--header-height) - var(--footer-height));
    /* height: var(--main-height); */
    height: 100%;
    background-color: coral;
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(8, 1fr);
}


#library {
    background-color: #1992D4;
    grid-row: 1/6;
    grid-column: 1/7;
}


/* #lib_title,
#lib_grid div {
    border: 1px solid black;
} */

#lib_title {
    display: flex;
    justify-content: space-between;
}

#lib-grid {
    /* height: calc(var(--main-height) - (var(--main-height)*.12)); */
    height: clamp(min(10vw, 20rem), 350px, max(90vw, 55rem));
    ;
    background-color: aqua;
    background-color: #00cfff;
    padding: 1rem;
    display: grid;
    /* row/column */
    /*set an clamp for column*/
    grid-template: repeat(auto-fit, 120px) / repeat(auto-fill, minmax(150px, 1fr));
    /* grid-template: repeat(3, 120px) / repeat(4, 140px); */

    /* only thing that keeps all rows same size */
    grid-auto-rows: 120px;
    gap: 1rem;

    /* resize:both; */
    overflow-y: auto;
    scrollbar-width: thin;
}

/*--- Add Book Button*/

.add-btn {
    color: white;
    margin: 0;
    padding: 0;
    border: 5px dashed white;
    text-decoration: none;
    background-color: transparent;
}

.add-btn:focus {
    color: red;
}

.add-btn:hover {
    color: yellow;
}

.add-btn i {
    margin-left: 0.25rem;
}

/*---*/


/*--- ADD-BOOK-FORM */

#overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(0, 0, 0, .5);
}

/*
TODO: figure out max size for resizing to smaller display
*/
#modal {
    max-width: fit-content;
    /* max-width: 300px; */
    height: fit-content;
    display: flex;
    flex: 1;
    margin: auto;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* z-index: 1; */
    --modal-padding: 2rem;
    border-radius: 1rem;
    padding: var(--modal-padding);
    overflow: auto;
}


#modal fieldset:first-of-type {
    padding: 1.5rem 0 0 0;
    display: flex;
    flex-direction: column;
    border: 0;
    gap: 1rem;
}

#close-modal-btn {
    position: absolute;
    right: var(--modal-padding);
    top: var(--modal-padding);
    background-color: transparent;
    border-radius: .2rem;
    border: none;
}

#close-modal-btn:hover {
    background-color: rgb(0, 0, 0, .3);
    cursor: pointer;
}


#add_book_form {
    display: flex;
}

.formGroup,
.formGroup div {
    /* display: flex; */
    gap: 1rem;
}


.formGroup {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.formGroup div:nth-child(1) {
    display: flex;
}

.formGroup div:nth-child(1) label {
    margin-right: auto;
}

.formGroup div:nth-child(1) div {
    display: flex;
}


.formGroup:last-child div:nth-child(1) label {
    /* background-color: green; */
    margin-right: .5rem;
}

.formGroup:last-child div:nth-child(1) div {
    /* background-color: #1992D4; */
    justify-content: left;

}


#read {
    justify-self: left;
}

#form-btns {
    display: flex;
    gap: 1rem;
    border: none;
    padding: .5rem 0;

}

#form-btns button {
    flex: 1;
    border: none;
    padding: .5rem 0;
    background-color: var(--btn-bg);
    border-radius: .2rem;
}

#form-btns button:hover {
    color: yellow;
    cursor: pointer;
}


/*---*/

.error,
#read-info {
    display: flex;
    justify-content: right;
    margin-right: 2rem;
    font-size: x-small;
    font-style: italic;
}

#read-info {
    font-style: normal;
    color: rgb(0, 0, 0, .5);

}

/*--- FORM VALIDATIONS 


.error-red{
    border-bottom: 1px red solid;
}

.success-green{
    border-bottom: 1px greenyellow solid;
}

/*---*/


/*--- Book Card */

.card {
    /* border: 1px solid red; */
    border-style: none;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*hides edges of child divs*/
    border-radius: .4rem;

}

.card legend {
    background-color: #1992D4;
    color: #FFFFFF;
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    overflow-wrap: break-word;
    height: 100%;
    user-select: none;
    font-size: x-small;
}

.card p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ".....";
    text-align: center;
    vertical-align: middle;
}

.card p:nth-child(2) {
    background-color: aquamarine;
    margin: 0;
    font-size: x-large;
    flex: 2;
    height: min;
    padding: .8rem 1rem;
}


.card p:nth-child(3) {
    background-color: bisque;
    font-style: italic;
    padding: .2rem 1rem;
    flex: 1;
}

.card p:nth-child(4) {
    background-color: floralwhite;
    font-style: oblique;
    font-size: small;
    padding: .2rem 1rem;
    flex: 1;

}

.card button {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background-color: transparent;
    text-decoration: none;
    padding: .45rem;
    margin: 0;
}

.card:hover {
    cursor: pointer;
    /*zooms in*/
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

.card:active{
    border: 3px inset white;
}

/*--- */



#current-book {
    background-color: mediumspringgreen;
    grid-row: 1/8;
    grid-column: 7/9;
}

footer {
    /* height: var(--footer-height); */
    color: var(--footer-text);
    background-color: var(--footer-bg);
    margin-top: auto;
}

/* … */